# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Installers
*.egg
*.egg-info/
dist/
build/

# Logs and databases
*.log
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS
.DS_Store

# Python
*.pyo
*.pyd
*.pyd

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.cache
coverage.xml
*.mypy_cache
*.hypothesis/
.pytest_cache/

# Environments
.env
.env.*
!.env.sample

# Docker
*.docker
!docker-compose.yaml
!Dockerfile
!docker-compose.*
